@font-face {
  font-family: "Digital7";
  src: url("../../fonts/digital-7.ttf") format("truetype");
  src: url("../../fonts/digital-7_italic.ttf") format("truetype");
  src: url("../../fonts/digital-7_mono.ttf") format("truetype");
  src: url("../../fonts/digital-7_mono_italic.ttf") format("truetype");
}

p {
    padding: 10px 0;
}